@font-face {
    font-family: 'Comfortaa';
    src: url('../public/fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa Bold';
    src: url('../public/fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../public/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../public/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}